@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.google.com/specimen/Nova+Round?query=round');

:root {
    --special-color: #522546;
    --primary-color: #3f2933;
    --secondary-color: #735557;
    --hover-color: #410445;
    --text-color: #FFF8F8;
    --font-fam-branding: 'Rock Salt', cursive;
    --font-fam-text: 'Nova Round', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

.header {
    background-color: var(--secondary-color);
    min-width:max-content;
    color:var(--text-color);
    height: 90px;
    top:0;
    left: 0;
    position:fixed;
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 1fr;
}

.branding{
    text-decoration: none;
    color: var(--text-color);
    max-width: fit-content;
    font-family: var(--font-fam-branding);
    font-size: x-large;
    font-weight:bold;
    letter-spacing: -1px;
    margin-left: 30px;
}

.parent{
    display: flex;
    align-items:center;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar ul li {
    display: flex;
    align-items: center;
    margin: 20px;
    font-size: large;
    font-family: var(--font-fam-text);
}

.navbar ul{
    display: flex;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.signin{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: auto;
    margin-right: 30px;
}

.signin ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.signin ul li{
    display: inline;
    margin: 5px;
    font-size: large;
    font-family: var(--font-fam-text);
}

.signup{
    background-color: var();
}

.but{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    text-align: center;
}

.butcolor{
    background-color: var(--special-color);
}

.but:hover{
    background-color: var(--hover-color);
}