:root {
    --primary-color: #3f2933;
    --secondary-color: #735557;
    --hover-color: #910A67;
    --text-color: #FFF8F8;
}

body{
    height:100%;
    padding: 0;
    margin: 0;
    background-color: var(--primary-color);
}

.header {
    background-color: var(--secondary-color);
    min-width:max-content;
    color:var(--text-color);
    height: 90px;
    top:0;
    left: 0;
    position:fixed;
    width: 100%;
}

.branding{
    text-decoration: none;
}

.parent{
    
}
.herosection{
    background-image:url("/public/imagini/herosection.jpg");
    width:100%;
    height:700px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

p#herosection{
    position:absolute;
    font-family: Arial;  
    font-size:72px;
    transform: translate(168%, 550%);
}