@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.google.com/specimen/Nova+Round?query=round');

:root {
    --primary-color: #3f2933;
    --secondary-color: #735557;
    --hover-color: #910A67;
    --text-color: #FFF8F8;
    --font-fam-branding: 'Rock Salt', cursive;
    --font-fam-text: 'Nova Round', sans-serif;
}

.herosection{
    background-image:url("/public/imagini/herosection.jpg");
    width:100%;
    height:700px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

p#herosection{
    position:absolute;
    font-family: var(--font-fam-branding);  
    font-size:50px;
    transform: translate(162%, 392%);
    display: flex;
    align-items:center;

}