@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.google.com/specimen/Nova+Round?query=round');

:root {
    --special-color: #522546;
    --primary-color: #3f2933;
    --secondary-color: #735557;
    --footer-color: #735557;
    --hover-color: #410445;
    --text-color: #FFF8F8;
    --font-fam-branding: 'Rock Salt', cursive;
    --font-fam-text: 'Nova Round', sans-serif;
}

.herosection{    
    background-image: url("/public/imagini/herosection.jpg");
    background-size: cover;
    width:100%;
    height:700px;
    display: flex;
    align-items:top;
    justify-content: center;
    color:white;
}

p#herosection{
    position:absolute;
    font-family: var(--font-fam-branding);   

    font-size:38px;
    font-weight:lighter;
    transform: translate(-110%, 235%);
    color:var(--hover-color);
    font-style: italic;
}