@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.google.com/specimen/Nova+Round?query=round');

:root[data-theme='dark']{
    --special-color: #546274;
    --primary-color: #002147;
    --secondary-color: #0d1b2a;
    --footer-color:#112233;
    --title-color: #00fff7;
    --hover-color: #264062;
    --text-color: #FFF8F8;
    --font-fam-branding: 'Rock Salt', cursive;
    --font-fam-text: 'Nova Round', sans-serif;
}

:root{
    --special-color: #221717;
    --primary-color: #5c6677;
    --secondary-color: #9199e0;
    --footer-color:#495553;
    --title-color: #00fff7;
    --hover-color: #264062;
    --text-color: #000000;
    --font-fam-branding: 'Rock Salt', cursive;
    --font-fam-text: 'Nova Round', sans-serif;
}