/* filepath: /home/crististg/projects/Team-Matrix-Glitch-iTec-2025/code/css/signupstyle.css */
@import url('https://fonts.google.com/specimen/Nova+Round?query=round');

:root {
    --special-color: #522546;
    --primary-color: #3f2933;
    --secondary-color: #735557;
    --hover-color: #410445;
    --text-color: #FFF8F8;
    --font-fam-branding: 'Rock Salt', cursive;
    --font-fam-text: 'Nova Round', sans-serif;
}

@keyframes slideInLeft {
    0% {
      transform: translateX(-300%);
      z-index: -1;
    }
    100% {
      transform: translateX(0);
      z-index: -1;
    }
}

.form-container {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-name: slideInLeft;
    max-width: 400px;
    margin: 180px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container h1 {
    font-family: var(--font-fam-text);
    text-align: center;
    margin-bottom: 20px;
}

.form-container label {
    font-family: var(--font-fam-text);
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-container input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--special-color);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form-container button:hover {
    background-color: var(--hover-color);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}